@import 'variables';
.estimate {
  margin: auto;
  width: 80%;
  .row {
    display: flex;
    flex-direction: row;
    margin: 0.5em auto;
    .col {
      flex-basis: 50%;

      &.show-estimation {
        display: flex;
        align-content: center;
        justify-content: flex-end;
        .button {
          background-color: $color_secondary;
          color: $color_button_primary;
          font-size: 1.2em;    
          margin: 0.5em;
          border-radius: 5px;
  
          &:hover {
            background-color: transparentize($color: $color_secondary, $amount: 0.5);
          }
        }
      }
    }
    
    .label {
      display: flex;
      flex-basis: 10%;
      justify-content: flex-start;
    }
    
    .field {
      display: flex;
      flex-basis: 90%;
      justify-content: flex-start;
    }
    
    .card-container {
      background-color: $bg_secondary;
      border-radius: 0.5em;
      padding: 2em;
      width: 100%;
      .deck-cards, .special-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
      }
    }

    .game-container {
      width: 100%;
    }
  }
}