@import 'variables';

.selected-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Bubblegum Sans', cursive;
  font-size: 1.6em;
  justify-content: center;
  height: 2.5em;
  margin: 0.5em;
  perspective: 1000;
  position: absolute;
  transition: 0.5s, color 0.5s, top 0.5s, left 0.5s;
  width: 2em;

  &__label {
    margin: auto;
  }

  &__user {
    font-size: 0.7em;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
  }

  &.show-card .flipper {
    transform: rotateY(180deg);
  }

  .flipper {
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s linear;
    width: 100%;

    .card-face {
      align-items: center;
      backface-visibility: hidden;
      background-color: $bg_main_primary;
      border: 1px solid $border_color_secondary;
      border-radius: 5px;
      color: $color_button_secondary;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      &.front {
        transform: rotateY(180deg);
      }

      &.back {
        background-color: $color_secondary;
        color: $white;
      }
    }
  }
    
  &.selected {
    .selected-card {
      &__label {
        display: inline-block;
      }
      
      &__user {
        font-size: 0.7em;
      }
    }
  }
}