.project-list {
  &__header {
    margin-top: 1.2em;
    margin-left: 1em;
    text-align: left;
  }

  &__table {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 1em;

    .row {
      display: flex;
      padding: 1em 0.5em;

      &.header {
        color: #7fffd4;
        background-color: #77bbee;
      }

      .column{
        flex-basis: 30%;
        text-align: left
      }
    }
  }
}