@import 'variables';

.create-project {
  padding: 1em;
  font-size: 1.5em;

  .row {
    .column {
      margin: auto;
      &.column-80p {
        width: 80%;
      }
    }
  }

  .field {
    align-items: baseline;
    display: flex;
    justify-content: flex-start;
    padding: 0.5em 0;

    label {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    input, textarea {
      font-size: 1.2em;
      width: 80%;
    }
  }

  button.button {
    background-color: $bg_button_primary;
    border-radius: 0.2em;
    color: $color_button_primary;
    font-size: 1em;
    padding: 0.2em 1.0em;

    &:hover {
      background-color: transparentize($color: $bg_button_primary, $amount: 0.3);
    }
  }  
}