@import 'variables';

.header {
  display: flex;
  align-items: center;
  background-color: $bg_secondary;

  .title {
    font-size: 1.5em;
    margin: 0 1em;
  }

  .link {
    display: flex;

    a {
      background-color: $bg_secondary;
      color: $font_color_primary;
      padding: 0.8em;
      text-decoration: none;

      &:hover {
        background-color: transparentize($color: $bg_main_primary, $amount: 0.5);
      }

      &.active { 
        background-color: $bg_main_primary;
      }
    }

    &.login {
      margin-left: auto;
      margin-right: 1em;
    }

    &.invite {
      button {
        background-color: $color_secondary;
        color: $color_button_primary;

        &:hover {
          background-color: transparentize($color: $color_secondary, $amount: 0.5);
        }
      }
    }

    button {
      border: none;
      padding: 0.8em;
      font-size: 1em;

      &:hover {
        background-color: transparentize($color: $bg_main_primary, $amount: 0.5);
      }
    }
  }
}
