$bg_secondary: #FFF;
$bg_main_primary: #e0f0ff;
$bg_button_secondary: #81D4FA;
$bg_button_primary: #0277BD;
$black: rgba(0, 0, 0, 0.06);
$border_color_secondary: #81D4FA;
$border_color_main: #0277BD;
$color_menu: #616161;
$color_primary: #81D4FA;
$color_secondary: #0277BD;
$color_button_primary: #ffffff;
$color_button_secondary: #000000;
$font_color_primary: #000;
$gray: #707070;
$white: #ffffff;