@import 'variables';

body {
  color: $font_color_primary;
  background-color: $bg_main_primary;
  font-family: roboto;
  margin: 0;
  padding: 0;
}

button {

  i.fas {
    margin-left: 0.5em;
  }

  &:focus {
    outline: none;
  }
}