.story-item.row {
  display: flex;
  .column {
    &.name {
      flex-basis: 45%;
    }
    &.url {
      flex-basis: 40%;
    }
    &.estimate {
      flex-basis: 15%;

      button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 1em;
      }
    }
  }
}